 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.45), rgba(0,0,0,0.45)), url("images/WhatsAppImage2021-12-01at2.45.44PM.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 561px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 0 0 rgba(0,0,0,0);
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0);
  font-size: 2.75rem;
  transition-duration: 0.5s;
  animation-duration: 1000ms;
  font-weight: normal;
  margin: 182px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 357px;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  animation-duration: 1000ms;
  transition-duration: 0.5s;
  margin: 13px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    width: 694px;
    margin-top: 143px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 36px;
    margin-right: 272px;
    margin-left: 312px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 42px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 37.26% 53.83%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1240px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 546px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-1 .u-text-2 {
    width: 356px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 426px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 31px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 31px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 51.52%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1382px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 560px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
    margin-right: -16px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 25px;
  }
}

.u-section-1 .u-text-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-text-1:hover {
  background-image: none !important;
  color: #f5d654 !important;
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
}

.u-section-1 .u-text-1:hover .u-svg-link {
  fill: #f5d654 !important;
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-1:hover {
  border-radius: 10px !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 167px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 21px;
  margin-bottom: 21px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px 60px;
}

.u-section-2 .u-text-1 {
  margin: 16px auto 0 0;
}

.u-section-2 .u-text-2 {
  margin: 4px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 129px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 129px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 109px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 97px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 9px 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 250px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 141px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 109px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 724px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  width: 567px;
  font-weight: normal;
  margin: 87px auto 0;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -43px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 641px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-image-1 {
  width: 477px;
  height: 477px;
  margin: 75px 39px 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 641px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  line-height: 2;
  font-weight: 600;
  margin: 91px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 654px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2rem;
    width: auto;
    margin-top: 80px;
    margin-right: 180px;
    margin-left: 194px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .u-section-3 .u-layout-cell-1 {
    background-position: 50% 50%;
    min-height: 529px;
  }

  .u-section-3 .u-image-1 {
    width: 457px;
    height: 457px;
    margin-top: 38px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 481px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: 566px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 791px;
  }

  .u-section-3 .u-image-1 {
    height: 336px;
    margin-top: 273px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 791px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 25px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 726px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: -20px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 388px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    height: 520px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-3 .u-container-layout-2 {
    padding: 22px 10px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1003px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.75rem;
    margin-top: 31px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 31px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-3 .u-image-1 {
    height: 320px;
    margin-top: 5px;
    margin-bottom: -5px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 591px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 16px;
    margin-bottom: -8px;
  }
} .u-section-4 {
  min-height: 187px;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 2px;
  margin-bottom: 2px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
  min-height: 184px;
}

.u-section-4 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-4 .u-icon-1 {
  height: 50px;
  width: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 19px auto 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.875rem;
  width: 216px;
  margin: 5px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  width: 246px;
  margin: 10px auto 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 2px 0;
}

.u-section-4 .u-icon-2 {
  height: 50px;
  width: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 19px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.875rem;
  width: 216px;
  margin: 5px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.125rem;
  width: 246px;
  margin: 10px auto 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 2px 0;
}

.u-section-4 .u-icon-3 {
  height: 50px;
  width: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 19px auto 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.875rem;
  width: 216px;
  margin: 5px auto 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.125rem;
  width: 246px;
  margin: 10px auto 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 2px 0;
}

.u-section-4 .u-icon-4 {
  height: 50px;
  width: 50px;
  color: rgb(17, 17, 17) !important;
  margin: 19px auto 0;
}

.u-section-4 .u-text-7 {
  font-size: 1.875rem;
  width: 216px;
  margin: 5px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.125rem;
  width: 246px;
  margin: 10px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 185px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-1 {
    height: 40px;
    width: 40px;
    margin-top: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 40px;
    width: 40px;
    margin-top: 30px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-3 {
    height: 40px;
    width: 40px;
    margin-top: 30px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-icon-4 {
    height: 40px;
    width: 40px;
    margin-top: 30px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 243px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 241px;
  }

  .u-section-4 .u-icon-1 {
    height: 50px;
    width: 50px;
    margin-top: 41px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-2 {
    height: 50px;
    width: 50px;
    margin-top: 41px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-3 {
    height: 50px;
    width: 50px;
    margin-top: 41px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-icon-4 {
    height: 50px;
    width: 50px;
    margin-top: 41px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-top: 17px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 528px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 527px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 28px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 41px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 28px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 41px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 28px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 41px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 28px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 561px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 545px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 8px;
  }

  .u-section-4 .u-text-1 {
    width: 181px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    width: 281px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 8px;
  }

  .u-section-4 .u-text-3 {
    width: 181px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-4 {
    width: 281px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 8px;
  }

  .u-section-4 .u-text-5 {
    width: 181px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-6 {
    width: 281px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 8px;
  }

  .u-section-4 .u-text-7 {
    width: 181px;
    margin-top: 6px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-8 {
    width: 281px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 860px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 70px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 375px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-5 .u-text-1 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 375px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  width: 278px;
  height: 198px;
  margin: 44px auto 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 375px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  width: 321px;
  height: 285px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-4 {
  min-height: 375px;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-5 .u-text-3 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-5 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none none solid;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
  padding: 5px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 309px;
  }

  .u-section-5 .u-btn-1 {
    width: 99px;
    height: 34px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 309px;
    background-position: 50% 50%;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 309px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 309px;
  }

  .u-section-5 .u-btn-2 {
    width: 99px;
    height: 34px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 317px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 237px;
  }

  .u-section-5 .u-image-2 {
    width: 285px;
    height: 253px;
  }

  .u-section-5 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 230px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 224px;
  }

  .u-section-5 .u-container-layout-3 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 145px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 141px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 798px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-6 .u-slider-1 {
  width: 913px;
  min-height: 629px;
  margin: 48px auto 22px;
}

.u-section-6 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 25px 56px;
}

.u-section-6 .u-image-1 {
  height: 309px;
  width: 760px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  margin: 20px auto 0 217px;
}

.u-section-6 .u-text-3 {
  font-size: 1rem;
  margin: 20px 8px 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 48px auto 0;
  padding: 0;
}

.u-section-6 .u-icon-1 {
  color: rgb(0, 0, 0) !important;
}

.u-section-6 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: 0;
  position: absolute;
  top: 158px;
  right: auto;
}

.u-section-6 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  top: 158px;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-slider-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 513px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-1 {
    height: 268px;
    width: 660px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -23px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 684px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 515px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-1 {
    height: 211px;
    width: 520px;
  }

  .u-section-6 .u-text-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-3 {
    margin-left: 48px;
    margin-right: 48px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 692px;
  }

  .u-section-6 .u-slider-1 {
    min-height: 606px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    height: 190px;
    width: 320px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 26px;
    margin-right: 26px;
  }
}