.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.716000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.933000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.735000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.855000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.732000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.734863;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.735000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:1.005371;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:0.797363;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffe;src:url(fe.woff)format("woff");}.ffe{font-family:ffe;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._2{width:8.639784px;}
._0{width:9.719904px;}
._1{width:11.624349px;}
._3{width:13.499999px;}
._5{width:15.300016px;}
._b{width:16.699939px;}
._c{width:17.999999px;}
._6{width:26.249999px;}
._4{width:35.249997px;}
._a{width:73.999988px;}
._7{width:80.999997px;}
._9{width:92.976580px;}
._8{width:94.499984px;}
.fc3{color:rgb(55,124,165);}
.fc2{color:rgb(61,128,178);}
.fc1{color:rgb(15,43,75);}
.fc0{color:rgb(0,0,0);}
.fs8{font-size:71.999997px;}
.fs2{font-size:74.999997px;}
.fs0{font-size:80.999997px;}
.fs1{font-size:88.979996px;}
.fs9{font-size:101.803898px;}
.fs5{font-size:102.730844px;}
.fs6{font-size:119.999995px;}
.fs4{font-size:134.999994px;}
.fs7{font-size:175.979993px;}
.fs3{font-size:194.999992px;}
.fsa{font-size:269.999989px;}
.y0{bottom:0.000000px;}
.y1{bottom:0.000007px;}
.y3{bottom:32.926007px;}
.y9d{bottom:35.660621px;}
.y99{bottom:35.661551px;}
.y5b{bottom:35.662037px;}
.yb{bottom:35.662157px;}
.y15{bottom:35.662271px;}
.y20{bottom:35.662277px;}
.y4{bottom:35.662325px;}
.y33{bottom:35.662487px;}
.y3e{bottom:71.016549px;}
.y71{bottom:87.749523px;}
.y4d{bottom:87.749996px;}
.y3d{bottom:113.016547px;}
.y32{bottom:116.930888px;}
.y14{bottom:118.947314px;}
.y70{bottom:129.749521px;}
.y4c{bottom:129.749995px;}
.y63{bottom:132.416257px;}
.y81{bottom:149.597802px;}
.y5a{bottom:152.192802px;}
.y31{bottom:152.562253px;}
.y3c{bottom:155.016546px;}
.y8a{bottom:157.719377px;}
.ya{bottom:165.071184px;}
.y4b{bottom:171.749993px;}
.y62{bottom:174.416255px;}
.y6f{bottom:176.192351px;}
.y13{bottom:178.392767px;}
.y78{bottom:184.320928px;}
.y30{bottom:188.193617px;}
.y80{bottom:191.597800px;}
.y59{bottom:194.192800px;}
.y93{bottom:197.016544px;}
.y1f{bottom:198.834601px;}
.y89{bottom:199.719376px;}
.y4a{bottom:213.749991px;}
.y2f{bottom:223.824982px;}
.y6e{bottom:228.860157px;}
.y7f{bottom:233.597798px;}
.y61{bottom:235.528581px;}
.y58{bottom:236.192798px;}
.y92{bottom:239.016542px;}
.y1e{bottom:240.834600px;}
.y9{bottom:244.466668px;}
.y11{bottom:249.106988px;}
.y77{bottom:249.749990px;}
.y49{bottom:255.749989px;}
.y2e{bottom:259.456346px;}
.y98{bottom:261.316861px;}
.y3b{bottom:264.307021px;}
.y7e{bottom:269.597797px;}
.y6d{bottom:270.860155px;}
.y57{bottom:278.192796px;}
.y8{bottom:280.422464px;}
.y91{bottom:281.016540px;}
.y1d{bottom:282.834598px;}
.y76{bottom:291.749988px;}
.y2d{bottom:295.087711px;}
.y48{bottom:297.749988px;}
.y3a{bottom:306.307019px;}
.y6c{bottom:312.860154px;}
.y12{bottom:313.392762px;}
.y56{bottom:320.192795px;}
.y90{bottom:323.016539px;}
.y1c{bottom:324.834596px;}
.y97{bottom:329.073730px;}
.y2c{bottom:330.719075px;}
.y75{bottom:333.749986px;}
.y39{bottom:348.307017px;}
.y6b{bottom:354.860152px;}
.y47{bottom:355.077177px;}
.y9e{bottom:356.710305px;}
.y8f{bottom:365.016537px;}
.y2b{bottom:366.350440px;}
.y1b{bottom:366.834594px;}
.y10{bottom:375.749873px;}
.y74{bottom:375.749984px;}
.y88{bottom:387.929984px;}
.y38{bottom:390.307016px;}
.y55{bottom:393.749984px;}
.y2a{bottom:401.981804px;}
.y1a{bottom:408.834593px;}
.y6a{bottom:411.749522px;}
.y8e{bottom:411.749983px;}
.y7{bottom:412.874932px;}
.y60{bottom:428.642802px;}
.y7d{bottom:430.229044px;}
.y46{bottom:430.977637px;}
.y37{bottom:432.307014px;}
.y29{bottom:437.613168px;}
.yf{bottom:438.749871px;}
.y9f{bottom:445.226237px;}
.y19{bottom:450.834591px;}
.y54{bottom:455.630607px;}
.y6{bottom:459.374930px;}
.y45{bottom:472.977635px;}
.y28{bottom:473.244533px;}
.y36{bottom:474.307012px;}
.y69{bottom:479.642332px;}
.y8d{bottom:483.065605px;}
.y18{bottom:492.834589px;}
.y87{bottom:493.423105px;}
.y9b{bottom:494.870605px;}
.y53{bottom:497.630605px;}
.ye{bottom:499.821197px;}
.y27{bottom:508.875897px;}
.y7c{bottom:511.742791px;}
.y96{bottom:511.902166px;}
.y44{bottom:514.977634px;}
.y5{bottom:515.353168px;}
.y68{bottom:521.642330px;}
.y17{bottom:534.834587px;}
.y86{bottom:535.423103px;}
.y52{bottom:539.630603px;}
.y35{bottom:540.974977px;}
.y26{bottom:544.507262px;}
.y7b{bottom:547.742790px;}
.y2{bottom:550.024196px;}
.y8c{bottom:550.822477px;}
.y5f{bottom:551.421545px;}
.y95{bottom:553.902164px;}
.y43{bottom:556.977632px;}
.y9c{bottom:557.427164px;}
.y73{bottom:573.090915px;}
.y67{bottom:574.309202px;}
.y25{bottom:580.138626px;}
.y51{bottom:581.630601px;}
.y5e{bottom:593.421544px;}
.y85{bottom:597.019662px;}
.y42{bottom:598.977630px;}
.y8b{bottom:615.498723px;}
.y24{bottom:615.769991px;}
.y50{bottom:623.630600px;}
.yd{bottom:623.899903px;}
.y7a{bottom:624.738723px;}
.y66{bottom:635.089199px;}
.y5d{bottom:635.421542px;}
.y41{bottom:640.977628px;}
.y23{bottom:651.401355px;}
.y84{bottom:657.749973px;}
.y4f{bottom:665.630598px;}
.y72{bottom:671.345598px;}
.y65{bottom:677.089198px;}
.y79{bottom:680.175910px;}
.yc{bottom:685.399901px;}
.y22{bottom:687.032720px;}
.y40{bottom:696.749971px;}
.y5c{bottom:699.749510px;}
.y83{bottom:699.749971px;}
.y94{bottom:708.202470px;}
.y9a{bottom:708.203409px;}
.y16{bottom:711.929970px;}
.y21{bottom:722.664084px;}
.y64{bottom:735.749508px;}
.y4e{bottom:735.749969px;}
.y3f{bottom:738.749969px;}
.y34{bottom:739.679969px;}
.y82{bottom:757.171843px;}
.he{height:51.767998px;}
.h6{height:53.924998px;}
.h3{height:57.347998px;}
.h4{height:72.607677px;}
.h10{height:77.893901px;}
.h9{height:78.603141px;}
.h14{height:85.195309px;}
.ha{height:91.816402px;}
.h8{height:97.739996px;}
.hd{height:127.602680px;}
.hc{height:134.648754px;}
.h7{height:163.799993px;}
.h13{height:208.432609px;}
.h12{height:809.999036px;}
.h11{height:809.999504px;}
.hf{height:809.999739px;}
.hb{height:809.999856px;}
.h5{height:809.999914px;}
.h2{height:809.999966px;}
.h0{height:809.999993px;}
.h1{height:810.000000px;}
.w1{width:809.999966px;}
.w0{width:810.000000px;}
.x0{left:0.000000px;}
.x10{left:50.001072px;}
.x12{left:56.270603px;}
.x15{left:57.571385px;}
.xc{left:59.145696px;}
.x18{left:60.948045px;}
.x13{left:65.985447px;}
.xb{left:70.970227px;}
.x3{left:80.999997px;}
.x14{left:83.129977px;}
.x1c{left:84.645696px;}
.x1a{left:88.291392px;}
.x4{left:90.474695px;}
.x1d{left:93.386821px;}
.x1b{left:110.145694px;}
.x16{left:112.379976px;}
.x19{left:113.812495px;}
.xd{left:184.962633px;}
.x5{left:186.487594px;}
.x11{left:190.379976px;}
.x7{left:203.034541px;}
.x1f{left:206.276489px;}
.x1e{left:214.260725px;}
.xe{left:222.333725px;}
.xa{left:230.043007px;}
.x2{left:232.372300px;}
.x6{left:263.726344px;}
.x9{left:287.804666px;}
.x1{left:305.078659px;}
.x8{left:317.042946px;}
.x17{left:404.087092px;}
.xf{left:472.974344px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._2{width:11.519712pt;}
._0{width:12.959871pt;}
._1{width:15.499131pt;}
._3{width:17.999998pt;}
._5{width:20.400022pt;}
._b{width:22.266585pt;}
._c{width:23.999998pt;}
._6{width:34.999999pt;}
._4{width:46.999996pt;}
._a{width:98.666651pt;}
._7{width:107.999996pt;}
._9{width:123.968773pt;}
._8{width:125.999979pt;}
.fs8{font-size:95.999996pt;}
.fs2{font-size:99.999996pt;}
.fs0{font-size:107.999996pt;}
.fs1{font-size:118.639995pt;}
.fs9{font-size:135.738531pt;}
.fs5{font-size:136.974458pt;}
.fs6{font-size:159.999993pt;}
.fs4{font-size:179.999993pt;}
.fs7{font-size:234.639990pt;}
.fs3{font-size:259.999989pt;}
.fsa{font-size:359.999985pt;}
.y0{bottom:0.000000pt;}
.y1{bottom:0.000009pt;}
.y3{bottom:43.901342pt;}
.y9d{bottom:47.547495pt;}
.y99{bottom:47.548734pt;}
.y5b{bottom:47.549383pt;}
.yb{bottom:47.549543pt;}
.y15{bottom:47.549694pt;}
.y20{bottom:47.549703pt;}
.y4{bottom:47.549767pt;}
.y33{bottom:47.549982pt;}
.y3e{bottom:94.688732pt;}
.y71{bottom:116.999364pt;}
.y4d{bottom:116.999995pt;}
.y3d{bottom:150.688730pt;}
.y32{bottom:155.907851pt;}
.y14{bottom:158.596418pt;}
.y70{bottom:172.999362pt;}
.y4c{bottom:172.999993pt;}
.y63{bottom:176.555010pt;}
.y81{bottom:199.463736pt;}
.y5a{bottom:202.923736pt;}
.y31{bottom:203.416337pt;}
.y3c{bottom:206.688727pt;}
.y8a{bottom:210.292503pt;}
.ya{bottom:220.094912pt;}
.y4b{bottom:228.999990pt;}
.y62{bottom:232.555007pt;}
.y6f{bottom:234.923135pt;}
.y13{bottom:237.857023pt;}
.y78{bottom:245.761238pt;}
.y30{bottom:250.924823pt;}
.y80{bottom:255.463733pt;}
.y59{bottom:258.923733pt;}
.y93{bottom:262.688725pt;}
.y1f{bottom:265.112802pt;}
.y89{bottom:266.292501pt;}
.y4a{bottom:284.999988pt;}
.y2f{bottom:298.433309pt;}
.y6e{bottom:305.146876pt;}
.y7f{bottom:311.463731pt;}
.y61{bottom:314.038108pt;}
.y58{bottom:314.923731pt;}
.y92{bottom:318.688723pt;}
.y1e{bottom:321.112799pt;}
.y9{bottom:325.955558pt;}
.y11{bottom:332.142651pt;}
.y77{bottom:332.999986pt;}
.y49{bottom:340.999986pt;}
.y2e{bottom:345.941795pt;}
.y98{bottom:348.422481pt;}
.y3b{bottom:352.409361pt;}
.y7e{bottom:359.463729pt;}
.y6d{bottom:361.146874pt;}
.y57{bottom:370.923729pt;}
.y8{bottom:373.896618pt;}
.y91{bottom:374.688720pt;}
.y1d{bottom:377.112797pt;}
.y76{bottom:388.999984pt;}
.y2d{bottom:393.450281pt;}
.y48{bottom:396.999983pt;}
.y3a{bottom:408.409359pt;}
.y6c{bottom:417.146872pt;}
.y12{bottom:417.857016pt;}
.y56{bottom:426.923726pt;}
.y90{bottom:430.688718pt;}
.y1c{bottom:433.112795pt;}
.y97{bottom:438.764974pt;}
.y2c{bottom:440.958767pt;}
.y75{bottom:444.999981pt;}
.y39{bottom:464.409357pt;}
.y6b{bottom:473.146869pt;}
.y47{bottom:473.436236pt;}
.y9e{bottom:475.613740pt;}
.y8f{bottom:486.688716pt;}
.y2b{bottom:488.467253pt;}
.y1b{bottom:489.112792pt;}
.y10{bottom:500.999831pt;}
.y74{bottom:500.999979pt;}
.y88{bottom:517.239978pt;}
.y38{bottom:520.409354pt;}
.y55{bottom:524.999978pt;}
.y2a{bottom:535.975739pt;}
.y1a{bottom:545.112790pt;}
.y6a{bottom:548.999362pt;}
.y8e{bottom:548.999977pt;}
.y7{bottom:550.499909pt;}
.y60{bottom:571.523736pt;}
.y7d{bottom:573.638725pt;}
.y46{bottom:574.636850pt;}
.y37{bottom:576.409352pt;}
.y29{bottom:583.484225pt;}
.yf{bottom:584.999828pt;}
.y9f{bottom:593.634983pt;}
.y19{bottom:601.112788pt;}
.y54{bottom:607.507475pt;}
.y6{bottom:612.499907pt;}
.y45{bottom:630.636847pt;}
.y28{bottom:630.992711pt;}
.y36{bottom:632.409350pt;}
.y69{bottom:639.523109pt;}
.y8d{bottom:644.087474pt;}
.y18{bottom:657.112785pt;}
.y87{bottom:657.897473pt;}
.y9b{bottom:659.827473pt;}
.y53{bottom:663.507473pt;}
.ye{bottom:666.428263pt;}
.y27{bottom:678.501197pt;}
.y7c{bottom:682.323722pt;}
.y96{bottom:682.536221pt;}
.y44{bottom:686.636845pt;}
.y5{bottom:687.137558pt;}
.y68{bottom:695.523106pt;}
.y17{bottom:713.112783pt;}
.y86{bottom:713.897471pt;}
.y52{bottom:719.507471pt;}
.y35{bottom:721.299970pt;}
.y26{bottom:726.009682pt;}
.y7b{bottom:730.323720pt;}
.y2{bottom:733.365595pt;}
.y8c{bottom:734.429969pt;}
.y5f{bottom:735.228727pt;}
.y95{bottom:738.536219pt;}
.y43{bottom:742.636843pt;}
.y9c{bottom:743.236219pt;}
.y73{bottom:764.121219pt;}
.y67{bottom:765.745603pt;}
.y25{bottom:773.518168pt;}
.y51{bottom:775.507468pt;}
.y5e{bottom:791.228725pt;}
.y85{bottom:796.026216pt;}
.y42{bottom:798.636840pt;}
.y8b{bottom:820.664964pt;}
.y24{bottom:821.026654pt;}
.y50{bottom:831.507466pt;}
.yd{bottom:831.866538pt;}
.y7a{bottom:832.984964pt;}
.y66{bottom:846.785599pt;}
.y5d{bottom:847.228722pt;}
.y41{bottom:854.636838pt;}
.y23{bottom:868.535140pt;}
.y84{bottom:876.999963pt;}
.y4f{bottom:887.507464pt;}
.y72{bottom:895.127464pt;}
.y65{bottom:902.785597pt;}
.y79{bottom:906.901213pt;}
.yc{bottom:913.866534pt;}
.y22{bottom:916.043626pt;}
.y40{bottom:928.999961pt;}
.y5c{bottom:932.999346pt;}
.y83{bottom:932.999961pt;}
.y94{bottom:944.269961pt;}
.y9a{bottom:944.271212pt;}
.y16{bottom:949.239960pt;}
.y21{bottom:963.552112pt;}
.y64{bottom:980.999344pt;}
.y4e{bottom:980.999959pt;}
.y3f{bottom:984.999959pt;}
.y34{bottom:986.239959pt;}
.y82{bottom:1009.562458pt;}
.he{height:69.023997pt;}
.h6{height:71.899997pt;}
.h3{height:76.463997pt;}
.h4{height:96.810236pt;}
.h10{height:103.858534pt;}
.h9{height:104.804188pt;}
.h14{height:113.593745pt;}
.ha{height:122.421870pt;}
.h8{height:130.319995pt;}
.hd{height:170.136907pt;}
.hc{height:179.531672pt;}
.h7{height:218.399991pt;}
.h13{height:277.910145pt;}
.h12{height:1079.998714pt;}
.h11{height:1079.999339pt;}
.hf{height:1079.999652pt;}
.hb{height:1079.999808pt;}
.h5{height:1079.999886pt;}
.h2{height:1079.999955pt;}
.h0{height:1079.999991pt;}
.h1{height:1080.000000pt;}
.w1{width:1079.999955pt;}
.w0{width:1080.000000pt;}
.x0{left:0.000000pt;}
.x10{left:66.668096pt;}
.x12{left:75.027471pt;}
.x15{left:76.761846pt;}
.xc{left:78.860928pt;}
.x18{left:81.264061pt;}
.x13{left:87.980596pt;}
.xb{left:94.626969pt;}
.x3{left:107.999996pt;}
.x14{left:110.839970pt;}
.x1c{left:112.860928pt;}
.x1a{left:117.721856pt;}
.x4{left:120.632926pt;}
.x1d{left:124.515761pt;}
.x1b{left:146.860925pt;}
.x16{left:149.839968pt;}
.x19{left:151.749994pt;}
.xd{left:246.616844pt;}
.x5{left:248.650126pt;}
.x11{left:253.839969pt;}
.x7{left:270.712722pt;}
.x1f{left:275.035319pt;}
.x1e{left:285.680966pt;}
.xe{left:296.444967pt;}
.xa{left:306.724010pt;}
.x2{left:309.829733pt;}
.x6{left:351.635126pt;}
.x9{left:383.739554pt;}
.x1{left:406.771546pt;}
.x8{left:422.723927pt;}
.x17{left:538.782789pt;}
.xf{left:630.632458pt;}
}
