.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.026367;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.971680;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.999023;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.971680;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.249997,-0.001238,0.001238,0.249997,0,0);-ms-transform:matrix(0.249997,-0.001238,0.001238,0.249997,0,0);-webkit-transform:matrix(0.249997,-0.001238,0.001238,0.249997,0,0);}
.m2{transform:matrix(0.250000,-0.000127,0.000127,0.250000,0,0);-ms-transform:matrix(0.250000,-0.000127,0.000127,0.250000,0,0);-webkit-transform:matrix(0.250000,-0.000127,0.000127,0.250000,0,0);}
.m1{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m4{transform:matrix(0.256479,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.256479,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.256479,0.000000,0.000000,0.250000,0,0);}
.m3{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-4.348424px;}
.ls4{letter-spacing:-4.126945px;}
.ls3{letter-spacing:-3.733903px;}
.ls1{letter-spacing:-1.965212px;}
.ls2{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:0.000000px;}
.ws1{word-spacing:1.965212px;}
.ws3{word-spacing:3.733903px;}
.ws4{word-spacing:4.126945px;}
.ws0{word-spacing:4.348424px;}
._4{margin-left:-19.142685px;}
._1{margin-left:-12.194494px;}
._5{margin-left:-1.262800px;}
._0{width:1.455777px;}
._3{width:2.949366px;}
._2{width:4.802173px;}
._7{width:601.080000px;}
._6{width:715.494800px;}
.fc5{color:rgb(198,192,192);}
.fc4{color:rgb(130,117,117);}
.fc0{color:rgb(70,28,0);}
.fc2{color:rgb(87,73,73);}
.fc1{color:rgb(255,131,45);}
.fc3{color:rgb(255,130,45);}
.fs6{font-size:36.000000px;}
.fsb{font-size:38.202400px;}
.fsa{font-size:39.192400px;}
.fs9{font-size:40.000000px;}
.fs8{font-size:43.999606px;}
.fs3{font-size:44.000000px;}
.fs5{font-size:48.000000px;}
.fs7{font-size:68.000000px;}
.fsc{font-size:80.000000px;}
.fs2{font-size:83.632400px;}
.fs4{font-size:112.000000px;}
.fs0{font-size:189.061917px;}
.fs1{font-size:196.521208px;}
.y0{bottom:35.500000px;}
.y8{bottom:36.000000px;}
.y41{bottom:72.500000px;}
.y8b{bottom:82.761700px;}
.y16{bottom:83.262816px;}
.y5c{bottom:84.500000px;}
.y5e{bottom:86.648400px;}
.y5b{bottom:87.889100px;}
.y70{bottom:91.342900px;}
.y8a{bottom:100.757700px;}
.y6e{bottom:100.762900px;}
.y15{bottom:101.258658px;}
.y5d{bottom:101.651400px;}
.y3c{bottom:103.425400px;}
.y5a{bottom:109.021100px;}
.y14{bottom:119.254500px;}
.y3b{bottom:121.421400px;}
.y3{bottom:122.994100px;}
.y79{bottom:128.250000px;}
.y59{bottom:131.161100px;}
.y6c{bottom:138.970700px;}
.y3a{bottom:139.417400px;}
.y13{bottom:146.700200px;}
.y58{bottom:153.301100px;}
.y6b{bottom:156.966700px;}
.y39{bottom:157.413400px;}
.y2{bottom:168.646500px;}
.y6a{bottom:174.962700px;}
.y38{bottom:175.409400px;}
.y57{bottom:175.441100px;}
.y69{bottom:192.958700px;}
.y37{bottom:193.405400px;}
.y89{bottom:193.894700px;}
.y56{bottom:197.581100px;}
.y1b{bottom:208.406900px;}
.y4{bottom:209.500000px;}
.y36{bottom:211.401400px;}
.y88{bottom:211.890700px;}
.y1{bottom:217.938500px;}
.y55{bottom:220.500000px;}
.y1a{bottom:223.409900px;}
.y87{bottom:229.886700px;}
.y19{bottom:238.412900px;}
.y35{bottom:239.304200px;}
.y86{bottom:247.882700px;}
.y77{bottom:247.951200px;}
.y18{bottom:253.415900px;}
.y85{bottom:265.878700px;}
.y17{bottom:268.418900px;}
.y54{bottom:269.474200px;}
.y76{bottom:279.809600px;}
.y74{bottom:279.810000px;}
.y84{bottom:283.874700px;}
.y53{bottom:287.470200px;}
.y34{bottom:297.474400px;}
.y12{bottom:304.565100px;}
.y52{bottom:305.466200px;}
.y75{bottom:311.750500px;}
.y73{bottom:311.751000px;}
.y33{bottom:312.477400px;}
.y91{bottom:312.743900px;}
.y2c{bottom:319.643400px;}
.y30{bottom:319.767900px;}
.y78{bottom:322.500000px;}
.y11{bottom:322.561100px;}
.y51{bottom:323.462200px;}
.y8f{bottom:324.798600px;}
.y32{bottom:327.480400px;}
.y2b{bottom:334.646400px;}
.y2f{bottom:334.770900px;}
.y8e{bottom:339.801600px;}
.y10{bottom:340.557100px;}
.y50{bottom:341.458200px;}
.y31{bottom:342.483400px;}
.y72{bottom:348.775400px;}
.y2a{bottom:349.649400px;}
.y2e{bottom:349.773900px;}
.y8d{bottom:354.804600px;}
.y4f{bottom:359.454200px;}
.y29{bottom:368.099600px;}
.y2d{bottom:368.764600px;}
.y8c{bottom:369.807600px;}
.y90{bottom:370.043900px;}
.y4e{bottom:377.450200px;}
.y68{bottom:378.814700px;}
.y1e{bottom:382.627300px;}
.y20{bottom:390.000000px;}
.y67{bottom:396.810700px;}
.y1d{bottom:397.630300px;}
.y4d{bottom:405.000000px;}
.y66{bottom:414.806700px;}
.y1f{bottom:416.080300px;}
.y83{bottom:417.084700px;}
.y65{bottom:432.802700px;}
.y28{bottom:433.255000px;}
.y1c{bottom:434.530300px;}
.y82{bottom:435.080700px;}
.y27{bottom:451.251000px;}
.y81{bottom:453.076700px;}
.y71{bottom:460.349600px;}
.yf{bottom:470.610100px;}
.y80{bottom:471.072700px;}
.y4c{bottom:471.560800px;}
.y26{bottom:478.799800px;}
.ye{bottom:488.606100px;}
.y7f{bottom:489.068700px;}
.y4b{bottom:489.556800px;}
.y6f{bottom:504.182900px;}
.yd{bottom:506.602100px;}
.y7e{bottom:507.064700px;}
.y4a{bottom:507.552800px;}
.y64{bottom:518.176500px;}
.y7d{bottom:525.060700px;}
.y49{bottom:525.548800px;}
.y63{bottom:533.179500px;}
.yc{bottom:534.150400px;}
.y25{bottom:545.317800px;}
.y62{bottom:548.182500px;}
.y48{bottom:552.599600px;}
.y61{bottom:563.185500px;}
.y24{bottom:563.313800px;}
.y6d{bottom:563.422900px;}
.y23{bottom:581.309800px;}
.y93{bottom:583.081000px;}
.y96{bottom:583.106400px;}
.y92{bottom:598.084000px;}
.y95{bottom:598.109400px;}
.y22{bottom:599.305800px;}
.y5f{bottom:601.121600px;}
.ya{bottom:602.294900px;}
.y97{bottom:616.559600px;}
.y94{bottom:616.585900px;}
.y9{bottom:617.297900px;}
.yb{bottom:617.298800px;}
.y21{bottom:617.301800px;}
.y47{bottom:619.117600px;}
.y46{bottom:637.113600px;}
.y6{bottom:654.655400px;}
.y45{bottom:655.109600px;}
.y9b{bottom:656.927000px;}
.y40{bottom:658.051800px;}
.y3e{bottom:658.409200px;}
.y5{bottom:672.651400px;}
.y44{bottom:673.105600px;}
.y7c{bottom:673.560700px;}
.y9a{bottom:674.923000px;}
.y43{bottom:691.101600px;}
.y7b{bottom:691.556700px;}
.y99{bottom:692.919000px;}
.y7{bottom:700.200200px;}
.y3d{bottom:703.926800px;}
.y3f{bottom:704.131800px;}
.y7a{bottom:709.552700px;}
.y98{bottom:710.915000px;}
.y42{bottom:718.649400px;}
.y60{bottom:718.650400px;}
.h9{height:26.015625px;}
.h10{height:27.607203px;}
.hf{height:28.322633px;}
.h15{height:28.906250px;}
.he{height:30.000000px;}
.hc{height:31.796590px;}
.h6{height:31.796875px;}
.ha{height:33.000000px;}
.h8{height:34.687500px;}
.hb{height:49.140625px;}
.h13{height:60.000000px;}
.h4{height:65.011123px;}
.h7{height:87.062500px;}
.h2{height:146.966100px;}
.h3{height:152.764533px;}
.h11{height:167.000000px;}
.h14{height:322.500000px;}
.hd{height:329.000000px;}
.h5{height:407.000000px;}
.h12{height:487.000000px;}
.h1{height:718.500000px;}
.h0{height:810.000000px;}
.w5{width:252.500000px;}
.w6{width:340.000000px;}
.w2{width:368.000000px;}
.w3{width:423.500000px;}
.w4{width:424.000000px;}
.w1{width:465.000000px;}
.w0{width:630.000000px;}
.x3{left:72.500000px;}
.x1{left:77.832900px;}
.x2{left:82.147500px;}
.x5{left:87.620600px;}
.x9{left:103.125000px;}
.xa{left:123.586900px;}
.x18{left:125.000000px;}
.x0{left:128.500000px;}
.xd{left:129.630900px;}
.x10{left:133.481400px;}
.x16{left:136.984900px;}
.x1a{left:153.918900px;}
.x13{left:156.427700px;}
.x12{left:165.147000px;}
.x19{left:204.953100px;}
.xb{left:254.306600px;}
.x6{left:272.678600px;}
.xe{left:310.483400px;}
.x1b{left:330.268600px;}
.x17{left:365.435100px;}
.x11{left:394.205200px;}
.xc{left:400.007300px;}
.xf{left:406.277300px;}
.x7{left:434.009800px;}
.x8{left:449.010700px;}
.x15{left:464.847700px;}
.x14{left:473.567700px;}
.x4{left:587.554700px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-5.797899pt;}
.ls4{letter-spacing:-5.502594pt;}
.ls3{letter-spacing:-4.978537pt;}
.ls1{letter-spacing:-2.620283pt;}
.ls2{letter-spacing:0.000000pt;}
.ws2{word-spacing:0.000000pt;}
.ws1{word-spacing:2.620283pt;}
.ws3{word-spacing:4.978537pt;}
.ws4{word-spacing:5.502594pt;}
.ws0{word-spacing:5.797899pt;}
._4{margin-left:-25.523581pt;}
._1{margin-left:-16.259325pt;}
._5{margin-left:-1.683733pt;}
._0{width:1.941036pt;}
._3{width:3.932488pt;}
._2{width:6.402897pt;}
._7{width:801.440000pt;}
._6{width:953.993067pt;}
.fs6{font-size:48.000000pt;}
.fsb{font-size:50.936533pt;}
.fsa{font-size:52.256533pt;}
.fs9{font-size:53.333333pt;}
.fs8{font-size:58.666141pt;}
.fs3{font-size:58.666667pt;}
.fs5{font-size:64.000000pt;}
.fs7{font-size:90.666667pt;}
.fsc{font-size:106.666667pt;}
.fs2{font-size:111.509867pt;}
.fs4{font-size:149.333333pt;}
.fs0{font-size:252.082556pt;}
.fs1{font-size:262.028277pt;}
.y0{bottom:47.333333pt;}
.y8{bottom:48.000000pt;}
.y41{bottom:96.666667pt;}
.y8b{bottom:110.348933pt;}
.y16{bottom:111.017088pt;}
.y5c{bottom:112.666667pt;}
.y5e{bottom:115.531200pt;}
.y5b{bottom:117.185467pt;}
.y70{bottom:121.790533pt;}
.y8a{bottom:134.343600pt;}
.y6e{bottom:134.350533pt;}
.y15{bottom:135.011544pt;}
.y5d{bottom:135.535200pt;}
.y3c{bottom:137.900533pt;}
.y5a{bottom:145.361467pt;}
.y14{bottom:159.006000pt;}
.y3b{bottom:161.895200pt;}
.y3{bottom:163.992133pt;}
.y79{bottom:171.000000pt;}
.y59{bottom:174.881467pt;}
.y6c{bottom:185.294267pt;}
.y3a{bottom:185.889867pt;}
.y13{bottom:195.600267pt;}
.y58{bottom:204.401467pt;}
.y6b{bottom:209.288933pt;}
.y39{bottom:209.884533pt;}
.y2{bottom:224.862000pt;}
.y6a{bottom:233.283600pt;}
.y38{bottom:233.879200pt;}
.y57{bottom:233.921467pt;}
.y69{bottom:257.278267pt;}
.y37{bottom:257.873867pt;}
.y89{bottom:258.526267pt;}
.y56{bottom:263.441467pt;}
.y1b{bottom:277.875867pt;}
.y4{bottom:279.333333pt;}
.y36{bottom:281.868533pt;}
.y88{bottom:282.520933pt;}
.y1{bottom:290.584667pt;}
.y55{bottom:294.000000pt;}
.y1a{bottom:297.879867pt;}
.y87{bottom:306.515600pt;}
.y19{bottom:317.883867pt;}
.y35{bottom:319.072267pt;}
.y86{bottom:330.510267pt;}
.y77{bottom:330.601600pt;}
.y18{bottom:337.887867pt;}
.y85{bottom:354.504933pt;}
.y17{bottom:357.891867pt;}
.y54{bottom:359.298933pt;}
.y76{bottom:373.079467pt;}
.y74{bottom:373.080000pt;}
.y84{bottom:378.499600pt;}
.y53{bottom:383.293600pt;}
.y34{bottom:396.632533pt;}
.y12{bottom:406.086800pt;}
.y52{bottom:407.288267pt;}
.y75{bottom:415.667333pt;}
.y73{bottom:415.668000pt;}
.y33{bottom:416.636533pt;}
.y91{bottom:416.991867pt;}
.y2c{bottom:426.191200pt;}
.y30{bottom:426.357200pt;}
.y78{bottom:430.000000pt;}
.y11{bottom:430.081467pt;}
.y51{bottom:431.282933pt;}
.y8f{bottom:433.064800pt;}
.y32{bottom:436.640533pt;}
.y2b{bottom:446.195200pt;}
.y2f{bottom:446.361200pt;}
.y8e{bottom:453.068800pt;}
.y10{bottom:454.076133pt;}
.y50{bottom:455.277600pt;}
.y31{bottom:456.644533pt;}
.y72{bottom:465.033867pt;}
.y2a{bottom:466.199200pt;}
.y2e{bottom:466.365200pt;}
.y8d{bottom:473.072800pt;}
.y4f{bottom:479.272267pt;}
.y29{bottom:490.799467pt;}
.y2d{bottom:491.686133pt;}
.y8c{bottom:493.076800pt;}
.y90{bottom:493.391867pt;}
.y4e{bottom:503.266933pt;}
.y68{bottom:505.086267pt;}
.y1e{bottom:510.169733pt;}
.y20{bottom:520.000000pt;}
.y67{bottom:529.080933pt;}
.y1d{bottom:530.173733pt;}
.y4d{bottom:540.000000pt;}
.y66{bottom:553.075600pt;}
.y1f{bottom:554.773733pt;}
.y83{bottom:556.112933pt;}
.y65{bottom:577.070267pt;}
.y28{bottom:577.673333pt;}
.y1c{bottom:579.373733pt;}
.y82{bottom:580.107600pt;}
.y27{bottom:601.668000pt;}
.y81{bottom:604.102267pt;}
.y71{bottom:613.799467pt;}
.yf{bottom:627.480133pt;}
.y80{bottom:628.096933pt;}
.y4c{bottom:628.747733pt;}
.y26{bottom:638.399733pt;}
.ye{bottom:651.474800pt;}
.y7f{bottom:652.091600pt;}
.y4b{bottom:652.742400pt;}
.y6f{bottom:672.243867pt;}
.yd{bottom:675.469467pt;}
.y7e{bottom:676.086267pt;}
.y4a{bottom:676.737067pt;}
.y64{bottom:690.902000pt;}
.y7d{bottom:700.080933pt;}
.y49{bottom:700.731733pt;}
.y63{bottom:710.906000pt;}
.yc{bottom:712.200533pt;}
.y25{bottom:727.090400pt;}
.y62{bottom:730.910000pt;}
.y48{bottom:736.799467pt;}
.y61{bottom:750.914000pt;}
.y24{bottom:751.085067pt;}
.y6d{bottom:751.230533pt;}
.y23{bottom:775.079733pt;}
.y93{bottom:777.441333pt;}
.y96{bottom:777.475200pt;}
.y92{bottom:797.445333pt;}
.y95{bottom:797.479200pt;}
.y22{bottom:799.074400pt;}
.y5f{bottom:801.495467pt;}
.ya{bottom:803.059867pt;}
.y97{bottom:822.079467pt;}
.y94{bottom:822.114533pt;}
.y9{bottom:823.063867pt;}
.yb{bottom:823.065067pt;}
.y21{bottom:823.069067pt;}
.y47{bottom:825.490133pt;}
.y46{bottom:849.484800pt;}
.y6{bottom:872.873867pt;}
.y45{bottom:873.479467pt;}
.y9b{bottom:875.902667pt;}
.y40{bottom:877.402400pt;}
.y3e{bottom:877.878933pt;}
.y5{bottom:896.868533pt;}
.y44{bottom:897.474133pt;}
.y7c{bottom:898.080933pt;}
.y9a{bottom:899.897333pt;}
.y43{bottom:921.468800pt;}
.y7b{bottom:922.075600pt;}
.y99{bottom:923.892000pt;}
.y7{bottom:933.600267pt;}
.y3d{bottom:938.569067pt;}
.y3f{bottom:938.842400pt;}
.y7a{bottom:946.070267pt;}
.y98{bottom:947.886667pt;}
.y42{bottom:958.199200pt;}
.y60{bottom:958.200533pt;}
.h9{height:34.687500pt;}
.h10{height:36.809604pt;}
.hf{height:37.763510pt;}
.h15{height:38.541667pt;}
.he{height:40.000000pt;}
.hc{height:42.395453pt;}
.h6{height:42.395833pt;}
.ha{height:44.000000pt;}
.h8{height:46.250000pt;}
.hb{height:65.520833pt;}
.h13{height:80.000000pt;}
.h4{height:86.681498pt;}
.h7{height:116.083333pt;}
.h2{height:195.954799pt;}
.h3{height:203.686043pt;}
.h11{height:222.666667pt;}
.h14{height:430.000000pt;}
.hd{height:438.666667pt;}
.h5{height:542.666667pt;}
.h12{height:649.333333pt;}
.h1{height:958.000000pt;}
.h0{height:1080.000000pt;}
.w5{width:336.666667pt;}
.w6{width:453.333333pt;}
.w2{width:490.666667pt;}
.w3{width:564.666667pt;}
.w4{width:565.333333pt;}
.w1{width:620.000000pt;}
.w0{width:840.000000pt;}
.x3{left:96.666667pt;}
.x1{left:103.777200pt;}
.x2{left:109.530000pt;}
.x5{left:116.827467pt;}
.x9{left:137.500000pt;}
.xa{left:164.782533pt;}
.x18{left:166.666667pt;}
.x0{left:171.333333pt;}
.xd{left:172.841200pt;}
.x10{left:177.975200pt;}
.x16{left:182.646533pt;}
.x1a{left:205.225200pt;}
.x13{left:208.570267pt;}
.x12{left:220.196000pt;}
.x19{left:273.270800pt;}
.xb{left:339.075467pt;}
.x6{left:363.571467pt;}
.xe{left:413.977867pt;}
.x1b{left:440.358133pt;}
.x17{left:487.246800pt;}
.x11{left:525.606933pt;}
.xc{left:533.343067pt;}
.xf{left:541.703067pt;}
.x7{left:578.679733pt;}
.x8{left:598.680933pt;}
.x15{left:619.796933pt;}
.x14{left:631.423600pt;}
.x4{left:783.406267pt;}
}
