.u-section-1 .u-sheet-1 {
  min-height: 978px;
}

.u-section-1 .u-blog-1 {
  width: 1011px;
  margin: 60px 57px 60px auto;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: 100%;
  grid-gap: 10px 10px;
  min-height: 858px;
}

.u-section-1 .u-repeater-item-1 {
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 25px 30px;
}

.u-section-1 .u-image-1 {
  height: 221px;
  width: 311px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 341px;
}

.u-section-1 .u-text-2 {
  margin: 22px 0 0 341px;
}

.u-section-1 .u-metadata-1 {
  margin: 20px auto 0 341px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-size: 0.75rem;
  font-weight: normal;
}

.u-section-1 .u-repeater-item-2 {
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 25px 30px;
}

.u-section-1 .u-image-2 {
  height: 221px;
  width: 311px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 341px;
}

.u-section-1 .u-text-4 {
  margin: 22px 0 0 341px;
}

.u-section-1 .u-metadata-2 {
  margin: 20px auto 0 341px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-size: 0.875rem;
  font-weight: normal;
  margin: 22px auto 0 341px;
}

.u-section-1 .u-repeater-item-3 {
  background-image: none;
}

.u-section-1 .u-container-layout-3 {
  padding: 25px 30px;
}

.u-section-1 .u-image-3 {
  height: 221px;
  width: 311px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  font-size: 1.875rem;
  font-weight: 700;
  margin: -216px 0 0 341px;
}

.u-section-1 .u-text-6 {
  margin: 22px 0 0 341px;
}

.u-section-1 .u-metadata-3 {
  margin: 20px auto 0 341px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  font-size: 0.875rem;
  font-weight: normal;
  margin: 22px auto 0 341px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-blog-1 {
    height: auto;
    width: 940px;
    margin-right: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding: 27px 0;
  }

  .u-section-1 .u-image-1 {
    height: 217px;
    width: 331px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -212px;
    margin-right: 30px;
    margin-left: 381px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 381px;
  }

  .u-section-1 .u-metadata-1 {
    width: auto;
    margin-top: 22px;
    margin-left: 381px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 24px;
    margin-left: 381px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 27px 0;
  }

  .u-section-1 .u-image-2 {
    height: 217px;
    width: 331px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -212px;
    margin-right: 30px;
    margin-left: 381px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 381px;
  }

  .u-section-1 .u-metadata-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 381px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 24px;
    margin-left: 381px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 27px 0;
  }

  .u-section-1 .u-image-3 {
    height: 217px;
    width: 331px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: -212px;
    margin-right: 30px;
    margin-left: 381px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 20px;
    margin-right: 30px;
    margin-left: 381px;
  }

  .u-section-1 .u-metadata-3 {
    width: auto;
    margin-top: 22px;
    margin-left: 381px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 24px;
    margin-left: 381px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-blog-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-1 {
    width: 283px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 24px;
    margin-right: 264px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 236px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-2 {
    width: 283px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-1 .u-metadata-2 {
    margin-top: 24px;
    margin-right: 264px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 236px;
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-1 .u-image-3 {
    width: 283px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
    margin-left: 333px;
  }

  .u-section-1 .u-metadata-3 {
    margin-top: 24px;
    margin-right: 264px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 20px;
    margin-right: 236px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1493px;
  }

  .u-section-1 .u-blog-1 {
    margin-bottom: 40px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1393px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: 100%;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
    margin-top: 13px;
    margin-right: 37px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 11px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 24px;
    padding: 7px 16px 7px 15px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-3 {
    font-weight: normal;
    margin-top: 18px;
    margin-right: 37px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 6px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-metadata-2 {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 24px;
    padding: 7px 16px 7px 15px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-image-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-5 {
    font-weight: normal;
    margin-top: 18px;
    margin-right: 37px;
    margin-left: 22px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 6px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-metadata-3 {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 22px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 14px;
    margin-right: auto;
    margin-left: 24px;
    padding: 7px 16px 7px 15px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 17px;
    margin-left: 14px;
    margin-right: 14px;
    font-size: .9rem;
  }

  .u-section-1 .u-metadata-1 {
    margin-top: 20px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 12px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 12px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-metadata-2 {
    margin-top: 20px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
    margin-left: 15px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 12px;
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-metadata-3 {
    margin-top: 20px;
    margin-left: 14px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
    margin-left: 15px;
  }
}

.u-section-1 .u-btn-1 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-1:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-2 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-2:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}

.u-section-1 .u-btn-3 {
  transition-property: fill, color, background-image, stroke-width, border-style, border-width, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-size, background-position !important;
}

.u-section-1 .u-btn-3:hover {
  box-shadow: 2px 2px 8px 0 rgba(128,128,128,1) !important;
}