.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.973633;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.031738;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666504;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m1{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-5.624999px;}
._1{margin-left:-3.281250px;}
._3{margin-left:-2.109374px;}
._2{margin-left:-1.017018px;}
._4{width:1.251400px;}
._5{width:3.925784px;}
.fc3{color:rgb(58,58,58);}
.fc1{color:rgb(0,0,0);}
.fc2{color:rgb(17,85,204);}
.fc0{color:rgb(67,67,67);}
.fs1{font-size:44.000001px;}
.fs3{font-size:48.000000px;}
.fs2{font-size:120.000000px;}
.fs0{font-size:192.000000px;}
.y0{bottom:0.000000px;}
.y37{bottom:40.730221px;}
.y2{bottom:40.730351px;}
.y12{bottom:40.730471px;}
.yaa{bottom:40.731441px;}
.y99{bottom:85.650386px;}
.ya1{bottom:89.679686px;}
.y7e{bottom:97.992186px;}
.y11{bottom:102.453246px;}
.yc4{bottom:105.244136px;}
.y51{bottom:105.836916px;}
.ya0{bottom:106.242186px;}
.y7d{bottom:114.554686px;}
.y98{bottom:118.775386px;}
.y10{bottom:119.015986px;}
.y9f{bottom:122.804686px;}
.y94{bottom:126.242186px;}
.y4b{bottom:128.165776px;}
.y7c{bottom:131.118166px;}
.y97{bottom:135.337886px;}
.yf{bottom:135.578736px;}
.y6a{bottom:137.148926px;}
.y93{bottom:142.804686px;}
.y4a{bottom:144.728516px;}
.y9e{bottom:147.108401px;}
.ye{bottom:152.141356px;}
.y69{bottom:153.711916px;}
.y36{bottom:155.308106px;}
.ya9{bottom:156.183596px;}
.y49{bottom:161.291016px;}
.y7b{bottom:164.243166px;}
.y96{bottom:168.463866px;}
.y88{bottom:168.492186px;}
.yd{bottom:168.704106px;}
.y68{bottom:170.274906px;}
.y35{bottom:171.870606px;}
.ya8{bottom:172.746096px;}
.y92{bottom:175.929686px;}
.y7a{bottom:180.805666px;}
.yc{bottom:185.266726px;}
.y48{bottom:185.594241px;}
.ybc{bottom:188.464846px;}
.ya7{bottom:189.308596px;}
.y91{bottom:192.492186px;}
.y60{bottom:200.527346px;}
.y95{bottom:201.588866px;}
.y87{bottom:201.618166px;}
.y67{bottom:203.400386px;}
.y34{bottom:204.996096px;}
.ybb{bottom:205.027346px;}
.y90{bottom:216.794921px;}
.y5f{bottom:217.089846px;}
.y86{bottom:218.180666px;}
.y66{bottom:219.962406px;}
.yba{bottom:221.589846px;}
.y5e{bottom:233.652836px;}
.y85{bottom:234.743166px;}
.y47{bottom:235.823246px;}
.y33{bottom:238.121586px;}
.ybf{bottom:251.148436px;}
.y46{bottom:252.385986px;}
.y65{bottom:253.088376px;}
.y32{bottom:254.684086px;}
.yb9{bottom:254.715816px;}
.y5d{bottom:257.956051px;}
.y73{bottom:263.153316px;}
.y64{bottom:269.650386px;}
.y31{bottom:271.247066px;}
.y72{bottom:279.716306px;}
.y45{bottom:285.511226px;}
.y63{bottom:286.213866px;}
.y30{bottom:287.809566px;}
.yb8{bottom:287.839846px;}
.y26{bottom:294.530276px;}
.y71{bottom:296.279296px;}
.y44{bottom:302.074216px;}
.y62{bottom:302.775876px;}
.y2f{bottom:304.372066px;}
.yb7{bottom:304.403316px;}
.y5c{bottom:308.184566px;}
.y70{bottom:312.841796px;}
.y43{bottom:318.636716px;}
.y25{bottom:327.655766px;}
.y2e{bottom:337.497556px;}
.yb6{bottom:337.529296px;}
.y1{bottom:338.662235px;}
.y24{bottom:344.218266px;}
.y6f{bottom:345.966796px;}
.y50{bottom:347.435546px;}
.y42{bottom:351.762206px;}
.y2d{bottom:354.060546px;}
.y23{bottom:360.781126px;}
.y6e{bottom:362.529786px;}
.y41{bottom:368.324706px;}
.y2c{bottom:370.623046px;}
.y22{bottom:377.343746px;}
.y6d{bottom:379.092776px;}
.yb1{bottom:379.466796px;}
.y4f{bottom:380.561526px;}
.yc3{bottom:382.779296px;}
.y40{bottom:384.887696px;}
.y84{bottom:390.091796px;}
.y21{bottom:393.906376px;}
.y6c{bottom:395.655276px;}
.yb0{bottom:396.029296px;}
.y4e{bottom:397.124026px;}
.yc2{bottom:399.342776px;}
.y79{bottom:400.654296px;}
.y2b{bottom:403.748536px;}
.y83{bottom:406.654296px;}
.y55{bottom:406.779786px;}
.y20{bottom:410.469236px;}
.yaf{bottom:412.591796px;}
.y3f{bottom:418.012936px;}
.y6b{bottom:419.958011px;}
.y2a{bottom:420.311036px;}
.y8f{bottom:421.498046px;}
.y54{bottom:423.342286px;}
.yc1{bottom:423.646481px;}
.y78{bottom:424.958011px;}
.y1f{bottom:427.031736px;}
.y4d{bottom:430.249026px;}
.y3e{bottom:434.575686px;}
.y29{bottom:436.874026px;}
.y8e{bottom:438.060546px;}
.y82{bottom:439.779296px;}
.y9d{bottom:441.060546px;}
.y1e{bottom:443.594606px;}
.y4c{bottom:446.811526px;}
.y53{bottom:447.645511px;}
.y3d{bottom:451.138186px;}
.y28{bottom:453.436526px;}
.yae{bottom:453.457031px;}
.y8d{bottom:454.623046px;}
.y81{bottom:456.342776px;}
.y3c{bottom:467.701176px;}
.y1d{bottom:467.897831px;}
.y27{bottom:469.999026px;}
.yc0{bottom:473.874026px;}
.y77{bottom:475.186526px;}
.y61{bottom:478.374996px;}
.y80{bottom:480.646481px;}
.y9c{bottom:490.748046px;}
.y76{bottom:491.749996px;}
.y52{bottom:497.874996px;}
.y3b{bottom:500.826416px;}
.yb{bottom:509.845216px;}
.ya6{bottom:509.845706px;}
.yc6{bottom:513.373046px;}
.y3a{bottom:517.389156px;}
.y1c{bottom:518.126586px;}
.yad{bottom:520.249996px;}
.y8c{bottom:520.873046px;}
.y9b{bottom:523.873046px;}
.y75{bottom:524.874996px;}
.ya{bottom:526.407956px;}
.ya5{bottom:526.408206px;}
.y7f{bottom:530.874996px;}
.y1b{bottom:534.689456px;}
.yac{bottom:536.812496px;}
.y8b{bottom:537.436526px;}
.y9a{bottom:540.436526px;}
.y74{bottom:541.437496px;}
.ya4{bottom:542.970706px;}
.y9{bottom:550.711181px;}
.yab{bottom:553.374026px;}
.y1a{bottom:558.992681px;}
.y5b{bottom:559.533206px;}
.y8a{bottom:570.561526px;}
.ybe{bottom:575.812496px;}
.y5a{bottom:576.095706px;}
.y89{bottom:587.124996px;}
.ybd{bottom:592.374026px;}
.y8{bottom:600.940186px;}
.ya3{bottom:609.220706px;}
.y19{bottom:609.221556px;}
.y59{bottom:609.221676px;}
.y7{bottom:617.502868px;}
.yb5{bottom:617.503906px;}
.y18{bottom:625.784179px;}
.y39{bottom:629.924804px;}
.yb4{bottom:634.064453px;}
.y6{bottom:634.065490px;}
.y17{bottom:642.346802px;}
.ya2{bottom:642.347656px;}
.y38{bottom:646.487549px;}
.yb3{bottom:650.627929px;}
.y5{bottom:650.628174px;}
.y58{bottom:658.909179px;}
.y16{bottom:658.909668px;}
.y4{bottom:667.190918px;}
.yb2{bottom:674.931641px;}
.yc5{bottom:675.471679px;}
.y15{bottom:675.472168px;}
.y57{bottom:675.472656px;}
.y3{bottom:691.494141px;}
.y14{bottom:692.035034px;}
.y56{bottom:692.035156px;}
.y13{bottom:708.597656px;}
.h3{height:33.451173px;}
.h8{height:36.492188px;}
.h5{height:38.507813px;}
.h6{height:81.546870px;}
.h2{height:81.547360px;}
.h7{height:81.547850px;}
.h4{height:91.230469px;}
.h1{height:145.968750px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x3{left:72.000000px;}
.x4{left:74.970703px;}
.x2{left:108.000000px;}
.x1{left:121.242188px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-7.499999pt;}
._1{margin-left:-4.375001pt;}
._3{margin-left:-2.812499pt;}
._2{margin-left:-1.356024pt;}
._4{width:1.668534pt;}
._5{width:5.234378pt;}
.fs1{font-size:58.666668pt;}
.fs3{font-size:64.000000pt;}
.fs2{font-size:160.000000pt;}
.fs0{font-size:256.000000pt;}
.y0{bottom:0.000000pt;}
.y37{bottom:54.306962pt;}
.y2{bottom:54.307135pt;}
.y12{bottom:54.307295pt;}
.yaa{bottom:54.308588pt;}
.y99{bottom:114.200515pt;}
.ya1{bottom:119.572915pt;}
.y7e{bottom:130.656248pt;}
.y11{bottom:136.604328pt;}
.yc4{bottom:140.325515pt;}
.y51{bottom:141.115888pt;}
.ya0{bottom:141.656248pt;}
.y7d{bottom:152.739582pt;}
.y98{bottom:158.367182pt;}
.y10{bottom:158.687982pt;}
.y9f{bottom:163.739582pt;}
.y94{bottom:168.322915pt;}
.y4b{bottom:170.887702pt;}
.y7c{bottom:174.824222pt;}
.y97{bottom:180.450515pt;}
.yf{bottom:180.771648pt;}
.y6a{bottom:182.865235pt;}
.y93{bottom:190.406248pt;}
.y4a{bottom:192.971355pt;}
.y9e{bottom:196.144534pt;}
.ye{bottom:202.855142pt;}
.y69{bottom:204.949222pt;}
.y36{bottom:207.077475pt;}
.ya9{bottom:208.244795pt;}
.y49{bottom:215.054688pt;}
.y7b{bottom:218.990888pt;}
.y96{bottom:224.618488pt;}
.y88{bottom:224.656248pt;}
.yd{bottom:224.938808pt;}
.y68{bottom:227.033208pt;}
.y35{bottom:229.160808pt;}
.ya8{bottom:230.328128pt;}
.y92{bottom:234.572915pt;}
.y7a{bottom:241.074222pt;}
.yc{bottom:247.022302pt;}
.y48{bottom:247.458987pt;}
.ybc{bottom:251.286462pt;}
.ya7{bottom:252.411462pt;}
.y91{bottom:256.656248pt;}
.y60{bottom:267.369795pt;}
.y95{bottom:268.785155pt;}
.y87{bottom:268.824222pt;}
.y67{bottom:271.200515pt;}
.y34{bottom:273.328128pt;}
.ybb{bottom:273.369795pt;}
.y90{bottom:289.059894pt;}
.y5f{bottom:289.453128pt;}
.y86{bottom:290.907555pt;}
.y66{bottom:293.283208pt;}
.yba{bottom:295.453128pt;}
.y5e{bottom:311.537115pt;}
.y85{bottom:312.990888pt;}
.y47{bottom:314.430995pt;}
.y33{bottom:317.495448pt;}
.ybf{bottom:334.864582pt;}
.y46{bottom:336.514648pt;}
.y65{bottom:337.451168pt;}
.y32{bottom:339.578782pt;}
.yb9{bottom:339.621088pt;}
.y5d{bottom:343.941401pt;}
.y73{bottom:350.871088pt;}
.y64{bottom:359.533848pt;}
.y31{bottom:361.662755pt;}
.y72{bottom:372.955075pt;}
.y45{bottom:380.681635pt;}
.y63{bottom:381.618488pt;}
.y30{bottom:383.746088pt;}
.yb8{bottom:383.786462pt;}
.y26{bottom:392.707035pt;}
.y71{bottom:395.039062pt;}
.y44{bottom:402.765622pt;}
.y62{bottom:403.701168pt;}
.y2f{bottom:405.829422pt;}
.yb7{bottom:405.871088pt;}
.y5c{bottom:410.912755pt;}
.y70{bottom:417.122395pt;}
.y43{bottom:424.848955pt;}
.y25{bottom:436.874355pt;}
.y2e{bottom:449.996742pt;}
.yb6{bottom:450.039062pt;}
.y1{bottom:451.549647pt;}
.y24{bottom:458.957688pt;}
.y6f{bottom:461.289062pt;}
.y50{bottom:463.247395pt;}
.y42{bottom:469.016275pt;}
.y2d{bottom:472.080728pt;}
.y23{bottom:481.041502pt;}
.y6e{bottom:483.373048pt;}
.y41{bottom:491.099608pt;}
.y2c{bottom:494.164062pt;}
.y22{bottom:503.124995pt;}
.y6d{bottom:505.457035pt;}
.yb1{bottom:505.955728pt;}
.y4f{bottom:507.415368pt;}
.yc3{bottom:510.372395pt;}
.y40{bottom:513.183595pt;}
.y84{bottom:520.122395pt;}
.y21{bottom:525.208502pt;}
.y6c{bottom:527.540368pt;}
.yb0{bottom:528.039062pt;}
.y4e{bottom:529.498702pt;}
.yc2{bottom:532.457035pt;}
.y79{bottom:534.205728pt;}
.y2b{bottom:538.331382pt;}
.y83{bottom:542.205728pt;}
.y55{bottom:542.373048pt;}
.y20{bottom:547.292315pt;}
.yaf{bottom:550.122395pt;}
.y3f{bottom:557.350582pt;}
.y6b{bottom:559.944014pt;}
.y2a{bottom:560.414715pt;}
.y8f{bottom:561.997395pt;}
.y54{bottom:564.456382pt;}
.yc1{bottom:564.861974pt;}
.y78{bottom:566.610681pt;}
.y1f{bottom:569.375648pt;}
.y4d{bottom:573.665368pt;}
.y3e{bottom:579.434248pt;}
.y29{bottom:582.498702pt;}
.y8e{bottom:584.080728pt;}
.y82{bottom:586.372395pt;}
.y9d{bottom:588.080728pt;}
.y1e{bottom:591.459475pt;}
.y4c{bottom:595.748702pt;}
.y53{bottom:596.860681pt;}
.y3d{bottom:601.517582pt;}
.y28{bottom:604.582035pt;}
.yae{bottom:604.609374pt;}
.y8d{bottom:606.164062pt;}
.y81{bottom:608.457035pt;}
.y3c{bottom:623.601568pt;}
.y1d{bottom:623.863774pt;}
.y27{bottom:626.665368pt;}
.yc0{bottom:631.832035pt;}
.y77{bottom:633.582035pt;}
.y61{bottom:637.833328pt;}
.y80{bottom:640.861974pt;}
.y9c{bottom:654.330728pt;}
.y76{bottom:655.666662pt;}
.y52{bottom:663.833328pt;}
.y3b{bottom:667.768555pt;}
.yb{bottom:679.793622pt;}
.ya6{bottom:679.794275pt;}
.yc6{bottom:684.497395pt;}
.y3a{bottom:689.852208pt;}
.y1c{bottom:690.835448pt;}
.yad{bottom:693.666662pt;}
.y8c{bottom:694.497395pt;}
.y9b{bottom:698.497395pt;}
.y75{bottom:699.833328pt;}
.ya{bottom:701.877275pt;}
.ya5{bottom:701.877608pt;}
.y7f{bottom:707.833328pt;}
.y1b{bottom:712.919275pt;}
.yac{bottom:715.749995pt;}
.y8b{bottom:716.582035pt;}
.y9a{bottom:720.582035pt;}
.y74{bottom:721.916662pt;}
.ya4{bottom:723.960942pt;}
.y9{bottom:734.281574pt;}
.yab{bottom:737.832035pt;}
.y1a{bottom:745.323574pt;}
.y5b{bottom:746.044275pt;}
.y8a{bottom:760.748702pt;}
.ybe{bottom:767.749995pt;}
.y5a{bottom:768.127608pt;}
.y89{bottom:782.833328pt;}
.ybd{bottom:789.832035pt;}
.y8{bottom:801.253582pt;}
.ya3{bottom:812.294275pt;}
.y19{bottom:812.295408pt;}
.y59{bottom:812.295568pt;}
.y7{bottom:823.337158pt;}
.yb5{bottom:823.338542pt;}
.y18{bottom:834.378906pt;}
.y39{bottom:839.899739pt;}
.yb4{bottom:845.419271pt;}
.y6{bottom:845.420654pt;}
.y17{bottom:856.462403pt;}
.ya2{bottom:856.463542pt;}
.y38{bottom:861.983399pt;}
.yb3{bottom:867.503906pt;}
.y5{bottom:867.504232pt;}
.y58{bottom:878.545572pt;}
.y16{bottom:878.546224pt;}
.y4{bottom:889.587891pt;}
.yb2{bottom:899.908854pt;}
.yc5{bottom:900.628906pt;}
.y15{bottom:900.629558pt;}
.y57{bottom:900.630208pt;}
.y3{bottom:921.992188pt;}
.y14{bottom:922.713379pt;}
.y56{bottom:922.713542pt;}
.y13{bottom:944.796875pt;}
.h3{height:44.601564pt;}
.h8{height:48.656250pt;}
.h5{height:51.343750pt;}
.h6{height:108.729160pt;}
.h2{height:108.729813pt;}
.h7{height:108.730467pt;}
.h4{height:121.640625pt;}
.h1{height:194.625000pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x3{left:96.000000pt;}
.x4{left:99.960938pt;}
.x2{left:144.000000pt;}
.x1{left:161.656250pt;}
}
