* {
  box-sizing: border-box;
}
.main {
  max-width: 1200px;
  height: auto;
  min-height: 100vh;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%; 
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: 320px; 
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  grid-gap: 1em;
}

.course{
 margin: 10px;
 height: 300px;

}
.img-container{
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.course-img{
  width: 100%;
  height: 100%;
}
.course h5{
  color: #000;
}

.course-main{
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.course-main p{
  margin-bottom: 20px;
}
.buttons-container{
  width: 100%;
  height: 100%;
  display: flex;

}
.read{
  padding: 10px;
  margin: 4px;
  height: 40px;
  flex-grow: 1;
  background-color: tomato;
  color: #ffffff;
}
.download{
  padding: 10px;
  margin: 4px;
  height: 40px;
  flex-grow: 1;
  background-color: limegreen;
  color: #ffffff;
}
